.ipynb_checkpoints
.DS_Store
*.ipynb
notebooks
*.pkl
*.npy
*.pyc
.vscode
upload/config.yaml
*.log
teleop/states_records
exp_local
__pycache__
envs/libero/assets
envs/libero/init_files
outputs
checkpoints
wandb
multirun
run.sh
*.mp4
*.png
*.pt
*.pth
dynamo_repro_datasets/